# IDE configuration files
.idea
*.iml
# Compiled files
*.pyc
*.so
*.o
# Build directories
build
dist
RGT.egg-info/
# Latex
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
shared/presentation/presentation.pdf
